@page "/Componente/Create"
@rendermode InteractiveServer
@inject ComponenteService componentesService
@inject NavigationManager navigationManager
@inject IJSRuntime JS

<PageTitle>Crear pedido de componentes</PageTitle>
<EditForm Model="pedido" OnValidSubmit="ConfirmarGuardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">

        <div class="card shadow-lg">

            <div class="card text-center">
                <h5 class="card-title"><i class="bi bi-fill-gear"></i></h5>
            </div>

            <div class="card-body mt-3">

                <div class="mt-3">
                    <label class="form-label"><strong>ID</strong></label>
                    <InputNumber class="form-control" @bind-Value="pedido.PedidoId" readonly />
                </div>

                <div class="mt-3">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="pedido.Fecha" />
                    <ValidationMessage For="@(() =>pedido.Fecha)" />
                </div>

                <div class="mt-3">
                    <label class="form-label"><strong>Nombre</strong></label>
                    <InputText class="form-control" @bind-Value="pedido.NombreCliente" />
                    <ValidationMessage For="@(() => pedido.NombreCliente)" />
                </div>

                <div class="mt-3">
                    <label class="form-label"><strong>Total</strong></label>
                    <InputNumber class="form-control" @bind-Value="pedido.Total" />
                    <ValidationMessage For="@(() => pedido.Total)" />
                </div>

                @*Detalle*@
                <div class="border border-success p-3 mt-3">
                    <h5>Detalles Entrada</h5>
                    <div class="row">
                        <div class="col-4">
                            <label class="form-label">Componentes detalle</label>
                            <InputSelect @bind-Value="componente" class="form-select">
                                <option value="0">Seleccione un tipo</option>
                                @foreach (var tipo in ListaTipos)
                                {
                                    <option value="@tipo.ComponenteId">@tipo.Descripcion</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="col-3">
                            <label class="form-label">Cantidad</label>
                            <InputNumber class="form-control" @bind-Value="CantidadDetalle"></InputNumber>
                        </div>
                        <div class="col-3">
                            <label class="form-label">Precio</label>
                            <InputNumber class="form-control" @bind-Value="PrecioDetalle"></InputNumber>
                        </div>
                        <div class="col-2 align-self-end">
                            <button type="button" Class="btn btn-primary bi bi-plus-lg w-100" @onclick="AgregarDetalle">Agregar</button>
                        </div>
                    </div>

                    @if (pedido.PedidosDetalle.Any())
                    {
                        <div class="mt-3">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Descripcion</th>
                                        <th>Precio</th>
                                        <th>Existencia</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detalle in componente.ComponentesDetalle)
                                    {
                                        <tr>
                                            <td>@(ListaTipos.FirstOrDefault(t => t.ComponenteId == detalle.ComponenteId)?.Descripcion ?? "N/A")</td>
                                            <td>@detalle.Cantidad</td>
                                            <td>@detalle.Precio.ToString("C")</td>
                                            <td>@((detalle.Cantidad * detalle.Precio).ToString("C"))</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="() => EliminarDetalle(detalle)">Remover</button>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <label class="float-end"><strong>Cantidad de Detalles: </strong>@pedido.PedidosDetalle.Count</label>
                        </div>
                    }
                </div>
            </div>



        </div>

        <div class="card-footer text-center mt-3">
            <a href="/Registro" class="btn btn-secondary">
                <span class="bi bi-arrow-left">Volver</span>
            </a>
            <button type="submit" class="btn btn-primary bi bi-floppy">Guardar</button>
        </div>

    </div>

</EditForm>

@code {
    public Componente componente = new();
    public Pedidos pedido = new();
    public string Mensaje { get; set; } = string.Empty;
    public List<Componente> ListaTipos { get; set; } = [];
    public int PedidoId { get; set; }
    public int CantidadDetalle { get; set; }
    public double PrecioDetalle { get; set; }


    protected override async Task OnInitializedAsync()
    {
        pedido.Fecha = DateTime.Now;
        ListaTipos = await componentesService.Listar(P => true);
    }

    public void AgregarDetalle()
    {
        if (PedidoId == 0)
        {
            Mensaje = "Debe seleccionar un tipo de componente";
            return;
        }
        if (CantidadDetalle <= 0 || PrecioDetalle <= 0)
        {
            Mensaje = "Cantidad y Precio deben ser mayores a cero.";
            return;
        }

        Mensaje = string.Empty;

        var nuevoDetalle = new PedidosDetalle
        {
            PedidoId = PedidoId,
            Cantidad = CantidadDetalle,
            Precio = PrecioDetalle,
        };
        pedido.PedidosDetalle.Add(nuevoDetalle);

        RecalcularTotales();

        PedidoId = 0;
        CantidadDetalle = 0;
        PrecioDetalle = 0;
    }

    public void EliminarDetalle(PedidosDetalle detalle)
    {
        pedido.PedidosDetalle.Remove(detalle);
        RecalcularTotales();
    }

    private void RecalcularTotales()
    {
        pedido.Total = pedido.PedidosDetalle.Sum(p => p.Precio);
        double importeTotal = pedido.PedidosDetalle.Sum(p => p.Cantidad * p.Precio);
    }

    public async Task ConfirmarGuardar()
    {
        bool confirmar = await JS.InvokeAsync<bool>("confirm", "¿Deseas guardar este registro?");
        if (confirmar)
        {
            await Guardar(pedido);
        }
    }


    public async Task Guardar(Pedidos pedido)
    {
        if (!pedido.PedidosDetalle.Any())
        {
            await JS.InvokeVoidAsync("alert", "⚠️ Debe agregar al menos un detalle.");
            return;
        }

        await componentesService.Guardar(pedido);
        await JS.InvokeVoidAsync("alert", "✅ Registro guardado exitosamente.");
        navigationManager.NavigateTo("/Registro");
    }
}